block footer

	footer.site-footer
		.site-footer__top
			.container.cf
				a.site-footer__logo(href="#")
					img(src="img/footer-logo.png", alt="")
				.site-footer__links
					a.site-footer__tel.site-footer__link(href="tel:8 (800) 987-65-43") 8 (800) 987-65-43
					a.site-footer__email.site-footer__link(href="mailto:gmurashov@yandex.ru") gmurashov@yandex.ru
		.site-footer__bottom
			.container.cf
				.site-footer__copyright © 2017 Private Jet Booking. Все права защищены
				.site-footer__madein Разработка сайта: 
					a(href="http://belugalab.ru/" target="_blank") Beluga Labs
