block header
	header.site-header
		.container
			.site-header__inner
				a.logo(href="#")
					img(src="img/logo.png", alt="")
				ul.main-menu
					li
						a(href="#") СПЕЦ. ПРЕДЛОЖЕНИЯ
					li
						a(href="#") Наш Флот
					li
						a(href="#") АЭРОПОРТЫ
					li
						a(href="#") ТРАНСФЕРЫ
					li
						a(href="#") КАЛЕНДАРЬ
					li
						a(href="#") О компании
				a.header__tel(href="#") 8 (800) 987-65-43
					span 24/7

