extends _layout
block content
	main.main-content
		.page-top(style="background-image: url(img/aero-bg.jpg)")
			.container
				h1.page__title Аэропорты
				.aero__filter Страна:
					.aero__filter-select
						select
							option(value="12") Франция
							option(value="13") 1Франция
							option(value="14") 14Франция
							option(value="15") 2Франция

		.container
			.aero__wrapper
				.aero__list
					.aero__item
						.aero__item-slider
							.aero__item-slick
								.slick-slide(style="background-image: url(img/aero-sl1.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl2.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl1.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl2.jpg)")
						.aero__item-content
							p.aero__item-title Ницца, Франция
							ul
								li Аэропорт: Cote D'Azur 
								li IATA: NCE
								li ICAO: LFMN
								li GAT (General Aviation Terminal) – Есть, отдельное здание
								li Требуется получение слотов - Да
								li Требуется разрешение для посадки - Да
								li Длина ВПП: 2960 метров
								li Подходит для всех типов ВС
								li
									a(href="#") Rue Costes et Bellonte, 06206 Nice, Франция
					.aero__item
						.aero__item-slider
							.aero__item-slick
								.slick-slide(style="background-image: url(img/aero-sl1.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl2.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl1.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl2.jpg)")
						.aero__item-content
							p.aero__item-title Ницца, Франция
							ul
								li Аэропорт: Cote D'Azur 
								li IATA: NCE
								li ICAO: LFMN
								li GAT (General Aviation Terminal) – Есть, отдельное здание
								li Требуется получение слотов - Да
								li Требуется разрешение для посадки - Да
								li Длина ВПП: 2960 метров
								li Подходит для всех типов ВС
								li
									a(href="#") Rue Costes et Bellonte, 06206 Nice, Франция
					.aero__item
						.aero__item-slider
							.aero__item-slick
								.slick-slide(style="background-image: url(img/aero-sl1.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl2.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl1.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl2.jpg)")
						.aero__item-content
							p.aero__item-title Ницца, Франция
							ul
								li Аэропорт: Cote D'Azur 
								li IATA: NCE
								li ICAO: LFMN
								li GAT (General Aviation Terminal) – Есть, отдельное здание
								li Требуется получение слотов - Да
								li Требуется разрешение для посадки - Да
								li Длина ВПП: 2960 метров
								li Подходит для всех типов ВС
								li
									a(href="#") Rue Costes et Bellonte, 06206 Nice, Франция
					.aero__item
						.aero__item-slider
							.aero__item-slick
								.slick-slide(style="background-image: url(img/aero-sl1.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl2.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl1.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl2.jpg)")
						.aero__item-content
							p.aero__item-title Ницца, Франция
							ul
								li Аэропорт: Cote D'Azur 
								li IATA: NCE
								li ICAO: LFMN
								li GAT (General Aviation Terminal) – Есть, отдельное здание
								li Требуется получение слотов - Да
								li Требуется разрешение для посадки - Да
								li Длина ВПП: 2960 метров
								li Подходит для всех типов ВС
								li
									a(href="#") Rue Costes et Bellonte, 06206 Nice, Франция
					.aero__item
						.aero__item-slider
							.aero__item-slick
								.slick-slide(style="background-image: url(img/aero-sl1.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl2.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl1.jpg)")
								.slick-slide(style="background-image: url(img/aero-sl2.jpg)")
						.aero__item-content
							p.aero__item-title Ницца, Франция
							ul
								li Аэропорт: Cote D'Azur 
								li IATA: NCE
								li ICAO: LFMN
								li GAT (General Aviation Terminal) – Есть, отдельное здание
								li Требуется получение слотов - Да
								li Требуется разрешение для посадки - Да
								li Длина ВПП: 2960 метров
								li Подходит для всех типов ВС
								li
									a(href="#") Rue Costes et Bellonte, 06206 Nice, Франция










block inlineScripts