extends _layout
block content
	main.main-content
		.page-top(style="background-image: url(img/calendar-bg.jpg)")
			.container
				h1.page__title Календарь
				p.page__description Lorem ipsum dolor sit amet, consectetur adipiscing
		.container
			.with-sidebar.cf
				aside.sidebar
					.calendar-wrapper
						img(src="img/calendar.jpg", alt="")
				.with-sidebar__content
					.calendar__row
						.calendar__row-heading 1 мая 2017
						.calendar__row-list
							a.calendar__row-item(href="#")
								.calendar__row-img(style="background-image: url(img/j1.png)")
								.calendar__row-content
									p.calendar__row-title Lorem ipsum dolor sit amet, consectetur adipiscing
									p.calendar__row-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
									span.calendar__row-more Подробнее
							a.calendar__row-item(href="#")
								.calendar__row-img(style="background-image: url(img/j1.png)")
								.calendar__row-content
									p.calendar__row-title Lorem ipsum dolor sit amet, consectetur adipiscing
									p.calendar__row-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
									span.calendar__row-more Подробнее
							a.calendar__row-item(href="#")
								.calendar__row-img(style="background-image: url(img/j1.png)")
								.calendar__row-content
									p.calendar__row-title Lorem ipsum dolor sit amet, consectetur adipiscing
									p.calendar__row-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
									span.calendar__row-more Подробнее
					.calendar__row
						.calendar__row-heading 4 мая 2017
						.calendar__row-list
							a.calendar__row-item(href="#")
								.calendar__row-img(style="background-image: url(img/j1.png)")
								.calendar__row-content
									p.calendar__row-title Lorem ipsum dolor sit amet, consectetur adipiscing
									p.calendar__row-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
									span.calendar__row-more Подробнее
							a.calendar__row-item(href="#")
								.calendar__row-img(style="background-image: url(img/j1.png)")
								.calendar__row-content
									p.calendar__row-title Lorem ipsum dolor sit amet, consectetur adipiscing
									p.calendar__row-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
									span.calendar__row-more Подробнее
							a.calendar__row-item(href="#")
								.calendar__row-img(style="background-image: url(img/j1.png)")
								.calendar__row-content
									p.calendar__row-title Lorem ipsum dolor sit amet, consectetur adipiscing
									p.calendar__row-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
									span.calendar__row-more Подробнее









block inlineScripts