extends _layout
block content
	main.main-content
		.page-top(style="background-image: url(img/fleet-cat.jpg)")
			.container
				h1.page__title.page__title--colored Heavy Jets 
				p.page__description.page__description--colored Тяжелые самолеты до 15 человек
		.container
			.fleet-cat__filter Вместимость до:
				.fleet-cat__select
					select
						option(value="12") 12 человек
						option(value="13") 13 человек
						option(value="14") 14 человек
						option(value="15") 15 человек
			.flex.three-col
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j1.png)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j2.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j3.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j4.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j5.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j6.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j1.png)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j2.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j3.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j4.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j5.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j6.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч











block inlineScripts