extends _layout
block content
	main.main-content
		.page-top(style="background-image: url(img/our-fleet.jpg)")
			h1.page__title Наш флот
			p.page__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
		.our-fleet.home-blocks
			.container
				.our-fleet__list
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl1.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl2.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl3.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl4.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl5.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl6.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl7.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl9.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
		.container
			.our-fleet__text
				.our-fleet__text-col
					h4.our-fleet__text-title Lorem ipsum dolor sit amet, consectetur adipisicing
					p.our-fleet__text-description Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
				.our-fleet__text-col
					h4.our-fleet__text-title Lorem ipsum dolor sit amet, consectetur adipisicing
					p.our-fleet__text-description Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
			.popular-jets
				h2.simple-title Популярные самолёты











block inlineScripts