extends _layout
block content
	main.main-content
		.home-top.top-block(style="background-image: url(img/home-top.jpg)")
			.container
				.home-top__inner
					h1.home-top__title Lorem ipsum dolor
					p.home-top__subtitle Организация чартерных перелетов на частных самолетах и вертолетах
					.order-form
						.order-form__tabs
							a.order-form__tabs-item.active(href="#") Самолёт
							a.order-form__tabs-item(href="#") Вертолёт
						.order-form__tables
							table.order-form__table
								tr
									th.order-form__origin-city Откуда
									th.order-form__destination-city Куда
									th.order-form__date Дата
									th.order-form__passengers Пассажиров
								tr
									td.order-form__origin-city
										input.order-form__input.order-form__city(type="text" placeholder="Город / Аэропорт")
									td.order-form__destination-city
										input.order-form__input.order-form__city(type="text" placeholder="Город / Аэропорт")
									td.order-form__date
										input.order-form__input.order-form__date-input(type="text" placeholder="Дата")
									td.order-form__passengers
										input.order-form__input.order-form__passengers-input(type="number" value="1" min="1" step="1" pattern="[0-9]*" inputmode="numeric")
										.input-number-less.spin
										.input-number-more.spin
										a.delete-row(href="#")

						.order-form__desire
							textarea(placeholder="Пожелания")
						.order-form__bottom
							.order-form__new
								a.order-form__new-link.add-row(href="#") Добавить перелёт
								a.order-form__new-link.more-desire(href="#") Дополнительные пожелания
							.order-form__submit
								input.btn(type="submit" value="Расчитать")
		.home-prices.home-blocks
			.container
				h2.simple-title Предварительные цены
				.home-prices__wrapper
					.home-prices__col
						p.home-prices__title Lorem ipsum dolor sit amet
						table
							tr
								td Ut enim ad minim veniam
								td 5000 $
							tr
								td Ut enim ad minim veniam
								td 5000 $
							tr
								td Ut enim ad minim veniam
								td 5000 $
							tr
								td Ut enim ad minim veniam
								td 5000 $
							tr
								td Ut enim ad minim veniam
								td 5000 $
							tr
								td Ut enim ad minim veniam
								td 5000 $
					.home-prices__col
						p.home-prices__title Lorem ipsum dolor sit amet
						table
							tr
								td Ut enim ad minim veniam
								td 5000 $
							tr
								td Ut enim ad minim veniam
								td 5000 $
							tr
								td Ut enim ad minim veniam
								td 5000 $
							tr
								td Ut enim ad minim veniam
								td 5000 $
							tr
								td Ut enim ad minim veniam
								td 5000 $
							tr
								td Ut enim ad minim veniam
								td 5000 $
				.link-wrapper
					a.btn.btn--green(href="#") Узнать больше
		.home-advantages.home-blocks
			.container
				h2.simple-title Преимущества
				.home-advantages__list
					.home-advantages__item
						.home-advantages__img
							img(src="img/adv1.png", alt="")
						p.home-advantages__text Сервис персонально заточен под вас
					.home-advantages__item
						.home-advantages__img
							img(src="img/adv2.png", alt="")
						p.home-advantages__text Высокая скорость обслуживания 
					.home-advantages__item
						.home-advantages__img
							img(src="img/adv3.png", alt="")
						p.home-advantages__text Профессиональная экспертность команды
					.home-advantages__item
						.home-advantages__img
							img(src="img/adv4.png", alt="")
						p.home-advantages__text Особые программы лояльности 
		.home-form.home-blocks
			.container
				h2.simple-title Перелеты со скидкой до 70%
				p.simple-subtitle Заполните форму и летайте дешевле
				form
					.home-form__row
						.home-form__col 
							input.home-form__input.home-form__input-name(type="text" placeholder="Имя")
						.home-form__col 
							input.home-form__input.home-form__input-tel(type="text" placeholder="Телефон")
						.home-form__col 
							input.home-form__input.home-form__input-email(type="text" placeholder="Email")
					.link-wrapper
						input.btn(type="submit" value="Отправить")
		a.full-links.full-links--green(href="#")
			span Уточните предварительные цены на 3–5 человек
		.our-fleet.home-blocks
			.container
				h2.simple-title Наш флот
				.our-fleet__list
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl1.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl2.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl3.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl4.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl5.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl6.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl7.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
					a.our-fleet__item(href="#")
						.our-fleet__img
							img(src="img/fl9.jpg", alt="")
						p.our-fleet__title Light Jets
						p.our-fleet__description легкие самолеты до 5 человек
		a.full-links.full-links--blue(href="#")
			span Уточните предварительные цены на 7-10 человек











block inlineScripts