extends _layout
block content
	main.main-content
		.page-top(style="background-image: url(img/spec-bg.jpg)")
			.container
				h1.page__title Спецпредложения
				p.page__description Перелеты со скидкой Empty Legs
		.container
			.upcoming__table-wrapper
				h2.simple-title Ближайшие EMPTY LEGS
				table.sortable-table.upcoming__table
					thead
						tr
							th Дата рейса
							th Пункт вылета
							th Пункт прилета
							th Самолет
							th Мест
							th Стоимость
							th
					tbody
						tr
							td 
								span.hidden 2017.04.20 
								| 20.04.2017
							td Внуково-3 (Москва)
							td Париж
							td Cessna Citation XLS
							td 10 чел.
							td 4000– 5000 $
							td
								a(href="#") ЗАКАЗАТЬ
						tr
							td 
								span.hidden 2017.04.22 
								| 22.04.2017
							td Шереметьево (Москва)
							td Лондон
							td Gulfstream G550
							td 15 чел.
							td 6000– 8000 $
							td
								a(href="#") ЗАКАЗАТЬ
						tr
							td 
								span.hidden 2017.05.18 
								| 18.05.2017
							td Домодедово (Москва)
							td Прага
							td Embraer Legacy 600
							td 12 чел.
							td 3500– 4000 $
							td
								a(href="#") ЗАКАЗАТЬ
						tr
							td 
								span.hidden 2017.04.20 
								| 20.04.2017
							td Внуково-3 (Москва)
							td Париж
							td Cessna Citation XLS
							td 10 чел.
							td 4000– 5000 $
							td
								a(href="#") ЗАКАЗАТЬ
						tr
							td 
								span.hidden 2017.04.22 
								| 22.04.2017
							td Шереметьево (Москва)
							td Лондон
							td Gulfstream G550
							td 15 чел.
							td 6000– 8000 $
							td
								a(href="#") ЗАКАЗАТЬ
						tr
							td 
								span.hidden 2017.05.18 
								| 18.05.2017
							td Домодедово (Москва)
							td Прага
							td Embraer Legacy 600
							td 12 чел.
							td 3500– 4000 $
							td
								a(href="#") ЗАКАЗАТЬ
						tr
							td 
								span.hidden 2017.04.20 
								| 20.04.2017
							td Внуково-3 (Москва)
							td Париж
							td Cessna Citation XLS
							td 10 чел.
							td 4000– 5000 $
							td
								a(href="#") ЗАКАЗАТЬ
						tr
							td 
								span.hidden 2017.04.22 
								| 22.04.2017
							td Шереметьево (Москва)
							td Лондон
							td Gulfstream G550
							td 15 чел.
							td 6000– 8000 $
							td
								a(href="#") ЗАКАЗАТЬ
						tr
							td 
								span.hidden 2017.05.18 
								| 18.05.2017
							td Домодедово (Москва)
							td Прага
							td Embraer Legacy 600
							td 12 чел.
							td 3500– 4000 $
							td
								a(href="#") ЗАКАЗАТЬ

			h2.simple-title Самолеты для Empty Legs
			.flex.three-col
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j1.png)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j2.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j3.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j4.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j5.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				a.jet-card(href="#")
					.jet-card__img(style="background-image: url(img/j6.jpg)")
					.jet-card__inner
						.jet-card__title Bombardier-Global-6000 Private Fly
						.jet-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
						.jet-card__info
							.jet-card__info-item.jet-card__info-passengers 8 чел
							.jet-card__info-item.jet-card__info-distance 3000 км
							.jet-card__info-item.jet-card__info-speed 800 км/ч
				









block inlineScripts